<link rel="stylesheet" href="/06_css/main.css">
<link rel="stylesheet" href="/06_css/fonts.css">
<link rel="stylesheet" href="/03_components/footer/06_css/new/style.css">
 
<footer class="footer">
  <div class="container">

    <div class="footer__box">
      <div class="footer__block footer__block-about">
        <div class="footer__main-info">
          <div class="footer__logo">
            <a href="https://advance-club.ru/" ><img src="/05_imgs/logo-white.svg" alt="Advance"></a>
          </div>
          <div class="footer__social">
            <ul>
              <li><a href="https://vk.com/advanceclub">
                <img src="/03_components/footer/05_imgs/vk_white.svg" alt="Advance вконтакте"></a></li>
              <li><a href="https://www.facebook.com/pages/Advance-Club/370830876444181?fref=ts">
                <img src="/03_components/footer/05_imgs/fb_white.svg" alt="Advance в фейсбук"></a></li>
              <li><a href="https://www.instagram.com/advance_courses/">
                <img src="/03_components/footer/05_imgs/inst_white.svg" alt="Advance в инстаграм"></a></li>
              <li><a href="https://www.youtube.com/user/advanceclub?sub_confirmation=1">
                <img src="/03_components/footer/05_imgs/utube_white.svg" alt="Advance на ютуб"></a></li>
            </ul>
          </div>
          <div class="footer__tel">
            <a href="tel:88007005342">8 (800) 700-53-42</a>
          </div>
        </div>

        <div class="footer__rights">
          <p>Advance ©&nbsp;2020</p>
          <a href="/about/documents/soglashenie_ob_obrabotke_personalnyh_dannyh/">Соглашение об&nbsp;обработке <br> персональных данных</a>
          <a href="/about/documents/politika_konfidencialnosti/">Политика конфиденциальности</a>
        </div>

        <a href="/about/documents/licenzii/" target="_blank" class="footer__license">
          <img src="/03_components/footer/05_imgs/license.jpg" alt="Государственная лицензия">
          <div class="footer__license-title">Государственная лицензия</div>
        </a>
      </div>

      <div class="footer__block footer__block-link-1">
        <ul class="footer__list">
          <li class="footer__list-section">
            <a target="_self" href="/razvivayushie_kursy/dlya_detey/" title="" class="footer__list-section--title">Курсы для детей</a>
            <ul>
              <li>
                <a href="/online/uchis_uchitsya/" title="">Учись учиться</a>
              </li>
              <li>
                <a href="/free/vse_materialy_dlya_detei/" title="">Материалы для обучения</a>
              </li>
              <li>
                <a href="https://advance-club.ru/course/uchis_uchitsya/otzyvy/" title="">Отзывы о курсе Учись учиться</a>
              </li>
            </ul>
          </li>

          <li class="footer__list-section">
            <a target="_self" href="/razvivayushie_kursy/dlya_vzroslyh/" title="" class="footer__list-section--title">Курсы для взрослых</a>
            <ul>
              <li>
                <a href="/online/stan_geniem/" title="">Стань гением</a>
              </li>
              <li>
                <a href="/razvivayushie_kursy/dlya_vzroslyh/roditeley/" title="">Для родителей</a>
              </li>
              <li>
                <a href="https://advance-club.ru/feedback_online/" title="">Отзывы об онлайн-курсах Advance</a>
              </li>
              <li>
                <a href="https://advance-club.ru/free/test_proverki_skorosti_chteniya/" title="">Тест скорости чтения</a>
              </li>
            </ul>
          </li>

          <li class="footer__list-section">
            <a target="_self" href="/razvivayushie_kursy/po_razvitiu_pamyati/" title="" class="footer__list-section--title">Развитие памяти</a>
            <a target="_self" href="/razvivayushie_kursy/po_skorochteniu/" title="" class="footer__list-section--title">Скорочтение</a>
          </li>

          <li class="footer__list-section">
            <a target="_self" href="/razvivayushie_kursy/#online_trainings" title="" class="footer__list-section--title">Экспресс-курсы</a>
            <a target="_self" href="/razvivayushie_kursy/#webinars" title="" class="footer__list-section--title">Бесплатные занятия</a>
          </li>

          
        </ul>
      </div>

      <div class="footer__block footer__block-link-2">
        <ul class="footer__list">
          <li class="footer__list-section">
            <a target="_self" href="/inostrannye_yazyki/" title="" class="footer__list-section--title">Иностранные языки</a>
            <ul>
              <li><a href="/inostrannye_yazyki/#online">Онлайн-курсы</a></li>
              <li><a href="/inostrannye_yazyki/#online_trainings">Онлайн-тренинги</a></li>
              <li><a href="/inostrannye_yazyki/#webinars">Бесплатные занятия</a></li>
              <li><a href="/inostrannye_yazyki/#free">Бесплатные материалы</a></li>
              <li><a href="https://advance-club.ru/izuchenie-yazykov/online_courses/">Английский язык онлайн</a></li>
              <li><a href="https://advance-club.ru/free/test_po_angliyskomu_yazyku/">Тест по английскому языку</a></li>
              <li><a href="https://advance-club.ru/knowledge/videomaterials/ege_po_angliyskomu_yazyku/">ЕГЭ по английскому языку</a></li>
              <li><a href="https://advance-club.ru/izuchenie-yazykov/eng_children_spb/">Английский для детей онлайн</a></li>
            </ul>
          </li>

          <li class="footer__list-section">
            <a target="_self" href="/razvivayushie_kursy/dlya_detey/" title="Развивающие курсы для детей" class="footer__list-section--title">Обучение детей</a>
            <ul>
              <li>
                <a href="/online/uchis_uchitsya/" title="Курс для школьников «Учись учиться»">Курс «Учись учиться» Онлайн</a>
              </li>
              <li>
                <a href="/razvivayushie_kursy/dlya_detey_i_roditeley/" title="Развивающие онлайн-курсы для детей">Онлайн-курсы для детей</a>
              </li>
              <li>
                <a href="/products/genius_children/feedbacks/" title="Отзывы о курсах">Отзывы о курсах</a>
              </li>
            </ul>
          </li>

          <li class="footer__list-section">
            <a target="_self" href="/fulllist/" class="footer__list-section--title">Расписание</a>
            <a href="/knowledge/articles/" class="footer__list-section--title">Статьи</a>
            <a href="/knowledge/videomaterials" class="footer__list-section--title">Видеоматериалы</a>
            <a href="/about/news" class="footer__list-section--title">Новости</a>
          </li>
        </ul>
      </div>

      <div class="footer__block footer__block-link-3">
        <ul class="footer__list">
          <li class="footer__list-section">
            <a target="_self" href="/about/" class="footer__list-section--title">Об Advance</a>
            <ul>
              <li>
                <a href="/teachers/">Преподаватели</a>
              </li>
              <li>
                <a href="/about/nikolay_yagodkin/">О Николае Ягодкине</a>
              </li>
              <li>
                <a href="/feedback_tech/">Отзывы о технологиях Advance</a>
              </li>
              <li>
                <a href="/gallery/">Фотогалерея</a>
              </li>
            </ul>
          </li>

          <li class="footer__list-section">
            <a href="/jobs/" class="footer__list-section--title">Работа у&nbsp;нас</a>
            <a href="https://advance-club.ru/documents/sout/" class="footer__list-section--title">СОУТ</a>
            <a href="/contact/" class="footer__list-section--title">Контакты</a>
            <a href="/about/partners/" class="footer__list-section--title">Партнёры</a>
            <a href="/partner/" class="footer__list-section--title">Партнёрская программа</a>
            <a href="/teacher_partner_program/" class="footer__list-section--title">Партнерская программа для&nbsp;учителей</a>
            <a href="/about/advance_for_business/" class="footer__list-section--title">Корпоративным клиентам</a>
            <ul>
              <li><a href="https://advance-club.ru/sitemap.html">Карта сайта</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="footer__block footer__block-partnership">
        <ul>
          <li>
            <img src="/03_components/footer/05_imgs/YaKassa_logo.png" alt="">
          </li>
          <li>
            <img src="/03_components/footer/05_imgs/cp.png" alt="">
          </li>
          <li>
            <img src="/03_components/footer/05_imgs/pp.png" alt="">
          </li>
          <li>
            <img src="/03_components/footer/05_imgs/tinkoff.png" alt="">
          </li>
        </ul>
      </div>
    </div>

  </div>
</footer>

<style>
    .top_btn {
        position: fixed;
        right: 0;
        bottom: 45%;
        height: 30px;
        width: 30px;
        background: #353535;
        border: 1px solid #fff;
        -webkit-transition: -webkit-transform .4s ease, opacity .4s ease;
        -webkit-transition: opacity .4s ease, -webkit-transform .4s ease;
        transition: opacity .4s ease, -webkit-transform .4s ease;
        transition: transform .4s ease, opacity .4s ease;
        transition: transform .4s ease, opacity .4s ease, -webkit-transform .4s ease;
        -webkit-transform: translate(30px);
        -ms-transform: translate(30px);
        transform: translate(30px);
        cursor: pointer;
        z-index: 9
    }

    .top_btn a,
    .top_btn span {
        text-decoration: none;
        font-size: 16px;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 60%;
        color: #fff
    }
</style>

<div class="top_btn"><span>^</span></div>


  
<script src='/02_plugins/jquery.min.js'></script>
<script src='/02_plugins/bootstrap/bs.min.js'></script>

<script src="/03_components/header/js/script.js"></script>
 

<script src="/03_components/footer/02_plugins/setImagesAltFromH1.js"></script>
<script src="/03_components/footer/02_plugins/setLinksAttrs.js"></script>
  
<script src="/03_components/footer/02_plugins/scrollTop.js"></script>