<meta charset="UTF-8"/>

<base href="{{site.url}}{{page.url | remove: 'index.html'}}">

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- === Iphone no phone number-->
<meta name="format-detection" content="telephone=no"/>

<link rel="canonical" href="https://advance-club.ru{{ page.url | remove: 'index.html' }}" />


<link rel="icon" type="image/png" href="/05_imgs/favicon.png"/>

<link rel="stylesheet" href="/02_plugins/bootstrap/bs.min.css">


{% if page.layout == "videomaterial" %}
{% assign pagetype = "База знаний - видеоматериалы Advance" %}

{% elsif page.layout == "post" %}
{% assign pagetype = "База знаний - статьи Advance" %}

{% elsif page.layout == "news_post" %}
{% assign pagetype = "Новости Advance" %}

{% else %}
{% assign pagetype = "Advance" %}

{% endif %}


{% if page.custom_title %}
	{% assign final_title = page.custom_title %}
{% else %}
	{% assign final_title = page.title | append: ' | Центр образовательных технологий Advance' %}
{% endif %}

{% if page.custom_description %}  
	{% assign final_description = page.custom_description %}
{% else %}
	{% assign final_description = "page.title | append: ' | ' | append: pagetype | append: ' | Центр образовательных технологий Advance ✅ Уникальные методики обучения ✅ Эффективное запоминание материала ✅ 100% результат' %}
{% endif %}

<title>{{ final_title }}</title>

<meta name="description" content="{{ final_description }}"/>

<meta property="og:title" content="{{ final_title }}"/>
<meta property="og:description" content="{{ final_description }}"/>

<meta property="og:type" content="website" />    
<meta property="og:locale" content="ru_RU" />
<meta property="og:url" content="https://advance-club.ru{{page.url}}" />
<meta property="og:site_name" content="Центр образовательных технологий Advance" />
<meta name="twitter:card" content="summary_large_image">

<meta name="twitter:title" content="{{ final_title }}">
<meta name="twitter:description" content="{{ final_description }}">

<meta name="twitter:image:src" content="https://advance-club.ru/05_imgs/og-logo_vk_1920x900.png">
<meta property="og:image" content="https://advance-club.ru/05_imgs/og-logo_vk_1920x900.png">

<script>
    (function(){
        setTimeout(function(){
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NWR77CZ');
        }, 3000);
    })()
</script>  