<!-- include $dir.'02_plugins/headGtm.php'; -->

<meta charset="UTF-8"/>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- === Iphone no phone number-->
<meta name="format-detection" content="telephone=no"/>

<link rel="canonical" href="https://advance-club.ru{{page.url}}" />


<link rel="icon" type="image/png" href="{{dir}}05_imgs/favicon.png"/>

<link rel="stylesheet" href="{{dir}}02_plugins/bootstrap/bs.min.css">


<title>{{page.title}}</title>

{% if page.layout == "videomaterial" %}
{% assign pagetype = "База знаний - видеоматериалы Advance" %}

{% elsif page.layout == "post" %}
{% assign pagetype = "База знаний - статьи Advance" %}

{% elsif page.layout == "news_post" %}
{% assign pagetype = "Новости Advance" %}

{% else %}
{% assign pagetype = "Advance" %}

{% endif %}




<meta name="description" content="{{page.title}} | {{pagetype}}"/>

<meta property="og:title" content="{{page.title}}"/>
<meta property="og:description" content="{{page.title}} | {{pagetype}}"/>
<meta property="og:type" content="website" />    
<meta property="og:locale" content="ru_RU" />    
<meta property="og:url" content="https://advance-club.ru{{page.url}}" />
<meta property="og:site_name" content="Центр образовательных технологий Advance" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{page.title}}">
<meta name="twitter:description" content="{{page.title}} | {{pagetype}}">

<meta name="twitter:image:src" content="https://advance-club.ru/05_imgs/og-logo_vk_1920x900.png">
<meta property="og:image" content="https://advance-club.ru/05_imgs/og-logo_vk_1920x900.png">
    
    
    