<meta charset="UTF-8"/>

<base href="/">

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- === Iphone no phone number-->
<meta name="format-detection" content="telephone=no"/>

<link rel="canonical" href="https://advance-club.ru{{ page.url | remove: 'index.html' }}" />


<link rel="icon" type="image/png" href="{{dir}}05_imgs/favicon.png"/>

<link rel="stylesheet" href="{{dir}}02_plugins/bootstrap/bs.min.css">


<title>{{page.title}} | Центр образовательных технологий Advance</title>

{% if page.layout == "videomaterial" %}
{% assign pagetype = "База знаний - видеоматериалы Advance" %}

{% elsif page.layout == "post" %}
{% assign pagetype = "База знаний - статьи Advance" %}

{% elsif page.layout == "news_post" %}
{% assign pagetype = "Новости Advance" %}

{% else %}
{% assign pagetype = "Advance" %}

{% endif %}




<meta name="description" content="{{page.title}} | {{pagetype}} | Центр образовательных технологий Advance ✅ Уникальные методики обучения ✅ Эффективное запоминание материала ✅ 100% результат"/>

<meta property="og:title" content="{{page.title}} | Центр образовательных технологий Advance"/>
<meta property="og:description" content="{{page.title}} | {{pagetype}} | Центр образовательных технологий Advance ✅ Уникальные методики обучения ✅ Эффективное запоминание материала ✅ 100% результат"/>
<meta property="og:type" content="website" />    
<meta property="og:locale" content="ru_RU" />    
<meta property="og:url" content="https://advance-club.ru{{page.url}}" />
<meta property="og:site_name" content="Центр образовательных технологий Advance" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{page.title}} | Центр образовательных технологий Advance">
<meta name="twitter:description" content="{{page.title}} | {{pagetype}} | Центр образовательных технологий Advance ✅ Уникальные методики обучения ✅ Эффективное запоминание материала ✅ 100% результат">

<meta name="twitter:image:src" content="https://advance-club.ru/05_imgs/og-logo_vk_1920x900.png">
<meta property="og:image" content="https://advance-club.ru/05_imgs/og-logo_vk_1920x900.png">

<script>
    (function(){
        setTimeout(function(){
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NWR77CZ');
        }, 3000);
    })()
</script>  