<link rel="stylesheet" href="/03_components/header/css/style.css">

<noscript>
  <!--=== Google Tag Manager (noscript)-->
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWR77CZ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  <!--=== End Google Tag Manager (noscript)-->
</noscript>

<header class="header">
	<div class="header-top">
		<div class="container">

			<div class="header-top__content">
				<ul class="header-top__content-social">
					<li>
						<a href="https://vk.com/advanceclub"><img src="/03_components/header/05_imgs/vk.svg" alt="vkontakte"></a>
					</li>
					<li>
						<a href="https://www.facebook.com/pages/Advance-Club/370830876444181?fref=ts"><img src="/03_components/header/05_imgs/fb.svg" alt="facebook"></a>
					</li>
					<li>
						<a href="https://www.instagram.com/advance_courses/"><img src="/03_components/header/05_imgs/inst.svg" alt="instagram"></a>
					</li>
					<li>
						<a href="https://www.youtube.com/user/advanceclub?sub_confirmation=1"><img src="/03_components/header/05_imgs/utube.svg" alt="youtube"></a>
					</li>
				</ul>
				<div class="header-top__content-phone">
		 			<a href="tel:88007005342">8 (800) 700-53-42</a>
				</div>
				<div class="header-top__content-login">
					<a href="https://advance24.online">
						<img src="/03_components/header/05_imgs/profile.png" alt="Личный Кабинет">
					</a>
				</div>
			</div>

		</div>
	</div>

	<div class="header-nav">
		<div class="container">

			<div class="header-inner wrapper">
				<div class="header-logo">
					<a href="/"><img src="/03_components/header/img/logo.svg" alt="Advance"></a>
				</div>

				<div class="header-burger">
					<span></span>
				</div>
				<div class="break"></div>

				<div class="header-menu tabs">
					<a href="/fulllist/" class="header-link unselectable" >
						Расписание
					</a>
					<div class="header-link tab unselectable">
						<span>Развивающие курсы</span>
					</div>
					

					<div class="header-link tab unselectable">
						<span>Иностранные языки</span>
					</div>


					<div class="header-link tab unselectable" >
						<span>О нас</span>
					</div>

					<div class="header-link tab unselectable">
						<span>База знаний</span>
					</div>
				</div>

				<div class="header-content d-none d-xl-block">
					<div class="container">
						<div class="header-content_item collapsed">
						</div>
						
						<div class="header-content_item collapsed">
							<div class="header-info">
								<div class="row header-info__row">
									<div class="col col-3 header-info__col">
										<div class="header-info__col-preview">
											<div class="header-info__col-preview-title">
												Развивающие курсы
											</div>
											<div class="header-info__col-preview-description">
												Увеличение скорости обучения, развитие памяти, скорочтение.
											</div>
											<a href="/razvivayushie_kursy/" class="header-info__col-preview-btn">
												Смотреть все
											</a>
										</div>
									</div>
									<div class="col col-5 header-info__col">
										<div class="row header-info__col-item">
											<div class="col-6">
												<ul class="header-info__col-item-list">
													<a href="/razvivayushie_kursy/dlya_detey/">
														Курсы для детей
													</a>
													<li class="header-info__col-item-list--point">
														<a href="/online/uchis_uchitsya/">Учись учиться</a>
													</li>
													<li class="header-info__col-item-list--point">
														<a href="/free/vse_materialy_dlya_detei/">Материалы для обучения</a>
													</li>
												</ul>
												<ul class="header-info__col-item-list">
													<a href="/razvivayushie_kursy/dlya_vzroslyh/">
														Курсы для взрослых
													</a>
													<li class="header-info__col-item-list--point">
														<a href="/online/stan_geniem/">Стань гением</a>
													</li>
													<li class="header-info__col-item-list--point">
														<a href="/razvivayushie_kursy/dlya_vzroslyh/roditeley/">Для родителей</a>
													</li>
												</ul>
											</div>

											<div class="col-6">
												<ul class="header-info__col-item-list">
													<a href="/razvivayushie_kursy/po_razvitiu_pamyati/">
														Развитие памяти
													</a>
												</ul>
												<ul class="header-info__col-item-list">
													<a href="/razvivayushie_kursy/po_skorochteniu/">
														Скорочтение
													</a>
												</ul>
											</div>
										</div>
									</div>
									<div class="col col-4 header-info__col">
										<div class="header-info__col-item">
											<ul class="header-info__col-item-list">
												<a href="/razvivayushie_kursy/#online_trainings">Экспресс-курсы</a>
											</ul>
											<ul class="header-info__col-item-list">
												<a href="/razvivayushie_kursy/#webinars">Бесплатные занятия</a>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="header-content_item collapsed">
							<div class="header-info">
								<div class="row header-info__row">
									<div class="col col-4 header-info__col">
										<div class="header-info__col-preview">
											<a href="/inostrannye_yazyki/">
												<div class="header-info__col-preview-title">
												Иностранные языки
											</div>
											</a>
											<div class="header-info__col-preview-description">
												Английский, доступный каждому: по&nbsp;мировым и&nbsp;авторским разработкам!
											</div>
											<a href="/inostrannye_yazyki/" class="header-info__col-preview-btn">
												Смотреть все
											</a>
										</div>
									</div>
									<div class="col col-4 header-info__col">
										<div class="header-info__col-item">
											<ul class="header-info__col-item-list">
												<a href="/inostrannye_yazyki/#online">
													Онлайн курсы
												</a>
											</ul>
											<ul class="header-info__col-item-list">
												<a href="/inostrannye_yazyki/#online_trainings">
													Онлайн тренинги
												</a>
											</ul>
											<ul class="header-info__col-item-list">
												<a href="/inostrannye_yazyki/#webinars">
													Бесплатные занятия
												</a>
											</ul>
											<ul class="header-info__col-item-list">
												<a href="/inostrannye_yazyki/#free">
													Бесплатные материалы
												</a>
											</ul>
										</div>
									</div>
									<div class="col col-4 header-info__col">
										<div class="header-info__col-item">
											<ul class="header-info__col-item-list">
												
												<!-- <li>
													<a href="/free/test_po_angliyskomu_yazyku">
														Тест по английскому
													</a>
												</li> -->
												<li>
													<a href="/online/angliyskiy_dlya_vashih_celey/">
														Английский для ваших целей
													</a>
												</li>
												<li>
													<a href="/free/vse_materialy_po_angliyskomu">
														Все материалы по английскому
													</a>
												</li>												
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="header-content_item collapsed">
							<div class="header-info">
								<div class="row header-info__row">
									<div class="col col-4 header-info__col">
										<div class="header-info__col-preview">
											<div class="header-info__col-preview-title">
												О нас
											</div>
											<div class="header-info__col-preview-description">
												Наша миссия, история, деятельность и достижения
											</div>
											<a href="/about/" class="header-info__col-preview-btn">
												Смотреть все
											</a>
										</div>
									</div>
									<div class="col col-4 header-info__col">
										<div class="header-info__col-item">
											<ul class="header-info__col-item-list">
												<li>
													<a href="/about/nikolay_yagodkin/">
														Николай Ягодкин
													</a>
												</li>
												<li>
													<a href="/teachers/">
														Преподаватели
													</a>
												</li>
												<li>
													<a href="/feedback_tech/">
														Отзывы
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col col-4 header-info__col">
										<div class="header-info__col-item">
											<ul class="header-info__col-item-list">
												
												<li>
													<a href="/about/news/">
														Новости
													</a>
												</li>
												
												<li>
													<a href="/contact/">
														Контакты
													</a>
												</li>
												<li>
													<a href="/jobs/">
														Вакансии
													</a>
												</li>

											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="header-content_item collapsed">
							<div class="header-info">
								<div class="row header-info__row">
									<div class="col col-4 header-info__col">
										<div class="header-info__col-preview">
											<div class="header-info__col-preview-title">
												База знаний
											</div>
											<div class="header-info__col-preview-description">
												Обучающие материалы по английскому языку и технологиям Advance.
											</div>
										</div>
									</div>
									<div class="col col-4 header-info__col">
										<div class="header-info__col-item">
											<ul class="header-info__col-item-list">
												<li>
													<a href="/knowledge/videomaterials/">
														Видеоматериалы
													</a>
												</li>
												<li>
													<a href="/knowledge/articles/">
														Статьи
													</a>
												</li>
												
											</ul>
										</div>
									</div>
									<div class="col col-4 header-info__col">
										<div class="header-info__col-item">
											<ul class="header-info__col-item-list">
												<!-- Тесты
												<li>
													<a href="#">
														Тест по английскому языку
													</a>
												</li>
												<li>
													<a href="#">
														ЕГЭ по английскому
													</a>
												</li> -->
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="header-mob d-xl-none">
		<ul class="header-mob__menu">
			<li class="header-mob__menu-item">
				<a href="/fulllist/" class="header-mob__menu-item--name">
					Расписание
				</a>
			</li>

			<li class="header-mob__menu-item">
				<div class="header-mob__menu-item--name unselectable">
					Развивающие курсы
				</div>
				<div class="header-mob__menu-item--content">
					<ul class="header-mob__menu-item--content-list">
						<li>
							<a href="/razvivayushie_kursy/dlya_detey/" class="header-mob__menu-item--content-list--title">
								Курсы для детей
							</a>
						</li>
						<li>
							<a href="/online/uchis_uchitsya/">
								Учись учиться
							</a>
						</li>
						<li>
							<a href="/free/vse_materialy_dlya_detei/">
								Материалы для обучения
							</a>
						</li>
						

						<li>
							<a href="/razvivayushie_kursy/dlya_vzroslyh/" class="header-mob__menu-item--content-list--title">
								Курсы для взрослых
							</a>
						</li>
						<li>
							<a href="/online/stan_geniem/">
								Стань гением
							</a>
						</li>
						<li>
							<a href="/razvivayushie_kursy/dlya_vzroslyh/roditeley/">
								Для родителей
							</a>
						</li>
						
						<li>
							<a href="/razvivayushie_kursy/po_razvitiu_pamyati/" class="header-mob__menu-item--content-list--title">
								Развитие памяти
							</a>
						</li>

						<li>
							<a href="/razvivayushie_kursy/po_skorochteniu/" class="header-mob__menu-item--content-list--title">
								Скорочтение
							</a>
						</li>
						
						<li>
							<a href="/razvivayushie_kursy/#online_trainings" class="header-mob__menu-item--content-list--title">
								Экспресс-курсы
							</a>
						</li>

						<li>
							<a href="/razvivayushie_kursy/#webinars" class="header-mob__menu-item--content-list--title">
								Бесплатные занятия
							</a>
						</li>
				
					</ul>
				</div>
			</li>

			<li class="header-mob__menu-item">
				<div class="header-mob__menu-item--name unselectable">
					Иностранные языки
				</div>
				<div class="header-mob__menu-item--content">
					<ul class="header-mob__menu-item--content-list">
						<li>
							<a href="/inostrannye_yazyki/#online">
								Онлайн курсы
							</a>
						</li>
						<li>
							<a href="/inostrannye_yazyki/#online_trainings">
								Онлайн тренинги
							</a>
						</li>
						<li>
							<a href="/inostrannye_yazyki/#webinars">
								Бесплатные занятия
							</a>
						</li>
						<li>
							<a href="/inostrannye_yazyki/#free">
								Бесплатные материалы
							</a>
						</li>
						<li>
							<a href="/online/angliyskiy_dlya_vashih_celey/">
								Английский для ваших целей
							</a>
						</li>
						<li>
							<a href="/free/vse_materialy_po_angliyskomu">
								Все материалы по английскому
							</a>
						</li>
					</ul>
				</div>
			</li>

			<li class="header-mob__menu-item">
				<div class="header-mob__menu-item--name unselectable">
					О нас
				</div>
				<div class="header-mob__menu-item--content">
					<ul class="header-mob__menu-item--content-list">
						<li>
							<a href="/about/nikolay_yagodkin/">
								Николай Ягодкин
							</a>
						</li>
						<li>
							<a href="/teachers/">
								Преподаватели
							</a>
						</li>
						<li>
							<a href="/feedback_tech/">
								Отзывы
							</a>
						</li>
						<li>
							<a href="/about/news/">
								Новости
							</a>
						</li>

						<li>
							<a href="/contact/">
								Контакты
							</a>
						</li>
						<li>
							<a href="/jobs/">
								Вакансии
							</a>
						</li>
					</ul>
				</div>
			</li>


			<li class="header-mob__menu-item">
				<div class="header-mob__menu-item--name unselectable">
					База знаний
				</div>
				<div class="header-mob__menu-item--content">
					<ul class="header-mob__menu-item--content-list">
						<li>
							<a href="/knowledge/videomaterials">
								Видеоматериалы
							</a>
						</li>
						<li>
							<a href="/knowledge/articles/">
								Статьи
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="header-mob__menu-item">
				<ul class="header-mob__menu-item--social">
					<li>
						<a href="https://vk.com/advanceclub"><img src="/03_components/footer/05_imgs/vk_blue.svg" alt="vkontakte"></a>
					</li>
					<li>
						<a href="https://www.facebook.com/pages/Advance-Club/370830876444181?fref=ts"><img src="/03_components/footer/05_imgs/fb_blue.svg" alt="facebook"></a>
					</li>
					<li>
						<a href="https://www.instagram.com/advance_courses/"><img src="/03_components/footer/05_imgs/inst_blue.svg" alt="instagram"></a>
					</li>
					<li>
						<a href="https://www.youtube.com/user/advanceclub?sub_confirmation=1"><img src="/03_components/footer/05_imgs/utube_blue.svg" alt="youtube"></a>
					</li>
				</ul>
			</li>
		</ul>
	</div>

</header>