<html lang="ru">
<head>
	<meta charset="UTF-8">

</head>
<body>
	
	<section>
<?php
		header("Access-Control-Allow-Origin: *");
		header("Access-Control-Allow-Methods: PUT, GET, POST, DELETE");
		header("Access-Control-Allow-Headers: Origin, X-Requested-With, Content-Type, Accept");
		
		define('DB_HOST', 'localhost');
		define('DB_USER', 'root');
		define('DB_PASS', 'root');
		define('DB_NAME', 'test');

		function connect()
		{
		  $connect = mysqli_connect(DB_HOST ,DB_USER ,DB_PASS ,DB_NAME);

		  if (mysqli_connect_errno($connect)) {
		    die("Failed to connect:" . mysqli_connect_error());
		  }

		  mysqli_set_charset($connect, "utf8");

		  return $connect;
		}

		$con = connect();
//query
		$sql = "SELECT * FROM mytable";

		if($result = mysqli_query($con,$sql))
		{
		  $i = 0;
		  while($row = mysqli_fetch_assoc($result))
		  {
		    $policies[$i]['id'] = $row['id'];
		    $policies[$i]['text'] = $row['text'];
		    $i++;
		  }

		  echo json_encode($policies);
		}
		
		

		
?>
	</section>
	<section>
		<!-- [
		  {% for post in site.posts %}
		    {
		      "title"    : "{{ post.title | escape }}",
		      "category" : "{{ post.category }}",
		      "tags"     : "{{ post.tags | join: ', ' }}",
		      "url"      : "{{ site.baseurl }}{{ post.url }}",
		      "date"     : "{{ post.date }}"
		    } {% unless forloop.last %},{% endunless %}
		  {% endfor %}
		] -->
	</section>
	<section>
		<?
			{% for post in site.posts %}
			    $sql = 'INSERT INTO `mytable`(`text`,`richText`,`markdown`,`url`)
			    VALUES("{{ post.title | escape }}","{{post.content}}","{{post.content}}","eee")';
				$result = mysqli_query($con,$sql);
			{% endfor %}
		?>
	</section>
	
	
</body>
</html>