<head>
<? 

	$dir = '../../../'; 
	$title = '{{page.title}}';
	include '../../header/head.php';

?>

<link rel="stylesheet" href="bs.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body>
	
<? include '../../header/nav.php';?>

	
	
	
	<!-- <h1>This is a post title: {{page.title}}</h1> -->

	

	<img src="{{site.url}}/assets/img/header.png" alt="">
	<section class="screen1">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1>Статьи</h1>
				</div>
			</div>
		</div>
	</section>
	
	<style>
	  	
	</style>
	
	<!-- <section>
		<ul>
		    {% for author in site.authors %}
		    <li>
		        {{ author[1].name }}
		    </li>
		    {% endfor %}
		</ul>
	</section> -->
	<section>
		{% for post in site.authors %}
		{{post}}
		{% endfor %}
	</section>
	<section>
		<div class="container">
			<div class="row cards__row">

				{% for post in site.posts %}

				  <div class="col-12 cards__col">

				  	<div class="card">
				  		<a href="{{ post.url }}">
				  			
				  			<div class="card-img" style="background-image:url('{{ post.thumbnail }}');"></div>
				  	  		<!-- <img class="card-img-top" src="{{ post.thumbnail }}" alt="Card image cap"> -->
				  		</a>

				  	  	<div class="card-body">
				  	  	  <h2 class="card-title">{{ post.title }}</h2>
				  	  	  {{ post.content | slice: 0, 65 }}
				  	  	  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
				  	  	  <div class="card-footer">

				  	  	  	
				  	  	  	{% assign words = post.content | number_of_words %}
				  	  	  	<span class="minutes">{{ words | divided_by:180 }} мин.</span>

				  	  	  </div>
				  	  	</div>
				  	</div>

				  	



				  </div>
				  
				{% endfor %}
				
			</div>
		</div>
	</section>

<script src="bs.min.js"></script>
</body>