<head>
<? 

	$dir = '../../../'; 
	$title = '{{page.title}}';
	include '../../header/head.php';

?>

<link rel="stylesheet" href="{{site.url}}/bs.min.css">
<link rel="stylesheet" href="{{site.url}}/style.css">
</head>
<body class="page__posts">
	
<!-- <? include '../../header/nav.php';?> -->

	
	
	
	<!-- <h1>This is a post title: {{page.title}}</h1> -->

	

	<img src="{{site.url}}/assets/img/header.png" alt="">
	
	<section class="screen1">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1><span>Статьи по теме:</span><br>{{page.display_name}}</h1>


				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container">
			<div class="row cards__row">
				{% assign filtered_posts = site.posts | where: 'tag', page.name %} 
				{% for post in filtered_posts %}
				

				  <div class="cards__col">

				  	<div class="card">
				  		<a class="card__preImg" href="{{ post.url }}">
				  			<div class="card__img" style="background-image:url('{{ post.thumbnail }}');"></div>
				  		</a>

				  	  	<div class="card__body">
				  	  	  <div class="card__top">
				  	  	  	{% assign posttag = site.tags | where: 'name', post.tag | first %}
				  	  	  	<span class="card__tags">{{ posttag.display_name }}</span>
				  	  	  	<h2 class="card__title">{{ post.title }}</h2>
				  	  	  	{{ post.content | slice: 0, 65 }}...
				  	  	  </div>
				  	  	  <div class="card__footer">
				  	  	  	<div class="card__author">
				  	  	  		{% assign author = site.authors | where: 'name', post.author | first %}
				  	  	  		{% if author %}
								<img class="card__authorImg" src="{{author.thumbnail}}" alt="">
								<a href="{{ author.url }}">{{ author.display_name }}</a>	 
				  	  	  		{% endif %}
				  	  	  	</div>

				  	  	  	{% assign words = post.content | number_of_words %}
				  	  	  	<span class="minutes">{{ words | divided_by:180 }} мин.</span>				  	  	  	
				  	  	  </div>
				  	  	</div>
				  	</div>
				  </div>
				  
				{% endfor %}
				
			</div>
		</div>
	</section>

<script src="{{site.url}}/bs.min.js"></script>
</body>