{% assign dir = "../../../" %}

<html lang="ru">
<head>

	{% include head.html %}

	<link rel="stylesheet" href="/06_css/knowledge_articles/style.css">
</head>
<body class="page__post">
	{% include header.html %}
<main>	
<!-- <? include '../../header/nav.php';?> -->
<!-- <img src="{{site.url}}/assets/img/header.png" alt="">	 -->
<section class="screen1">
	<div class="container">
		<div class="row">
			<!-- <div class="col-12 mx-auto">
				<time class="screen1__date color2">{{ page.date | date_to_string }}</time>
				<span class="delimiter color2">/</span>
				<a class="screen1_tag color2" href="">{{ page.tag }}</a>
				<h1>{{ page.title }}</h1>
				<img class="screen1__thumbnail" src="{{ page.thumbnail }}">
			</div> -->
			<div class="col-12">

				<nav aria-label="breadcrumb">    
				   <ol class="breadcrumbs">
				     <li class="breadcrumb-item">
				       <a href="{{site.url}}">Главная</a>
				     </li>
				     <li class="breadcrumb-item">
				     	<a href="{{site.url}}/knowledge/">База знаний</a>
				     </li>
				     <li class="breadcrumb-item">
				     	<a href="{{site.url}}/knowledge/videomaterials/">Видеоматериалы</a>
				     </li>
				     <li class="breadcrumb-item active">
				     	<span>{{page.title}}</span>
				     </li>
				   </ol>
				</nav>
				
			</div>
			<div class="col-12 col-md-6 mx-auto align-items-center d-flex">
				<div>
					<time class="screen1__date color2">{{ page.date | date: "%m/%d/%Y" }}</time>
					<!-- <span class="delimiter color2">/</span>
					{% assign posttag = site.tags | where: 'name', page.tag | first %}
					<a class="screen1_tag color2" href="{{posttag.url}}">{{ posttag.display_name }}</a> -->
					<h1>{{ page.title }}</h1>
				</div>
				
			</div>
			<div class="col-12 col-md-6">
				<img class="screen1__thumbnail" src="{{ page.thumbnail }}">
			</div>
		</div>
	</div>
</section>
<section class="content">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- <div style="background: url({{ page.thumbnail }});width: 680;
    height: 368;
    background-size: contain;background-repeat: no-repeat;">
					
				</div> -->
				{{content}}
			</div>
		</div>
	</div>
</section>
	
	
	<!-- <h1>This is a post title: {{page.title}}</h1>
	<time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time> -->
	
	
	
	
	
	{% assign author = site.authors | where: 'name', page.author | first %}
	{% if author %}
	  
	  	<section class="author mb-3">
	  		<div class="container">
	  			<div class="row">
	  				<div class="col-12 mx-auto">
	  					<div class="card__author">
	  						<img class="card__authorImg" src="{{ author.thumbnail }}" alt="">
	  						<a href="{{author.url}}">{{ author.display_name }}</a>
	  					</div>
	  					
	  				</div>
	  				<div class="col">
	  					
	  				</div>
	  			</div>
	  		</div>
	  	</section>

	{% endif %}

	</main>
	{% include footer.html %}
</body>
</html>